{% load static %}
{% include 'admin/adminheader.html' %}

<div class="content-wrapper">

    <section class="content-header text-center">
        <h1>Delete Priest</h1>
    </section>


    <section class="content">

        <div class="card">
            <div class="card-body text-center">

                <h4>
                    Are you sure you want to delete
                    <br>
                    <strong>
                    {{ priest.first_name }} {{ priest.last_name }}
                    </strong>?
                </h4>


                <form method="POST">
                    {% csrf_token %}

                    <button type="submit" 
                            class="btn btn-danger">
                        Yes, Delete
                    </button>


                    <a href="{% url 'delete_priest' priest.id %}" 
                       class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>
        </div>

    </section>

</div>


{% include 'admin/adminfooter.html' %}