{% load static %}
<footer class="footer">

  <div class="footer-content">

    <!-- Logo & Address -->
    <div class="footer-col footer-about">
    
         <img src="{% static 'images/image.png' %}" alt="Church Image">



      <p class="footer-text">
       Lorem ipsum dolor sit amet,<br>
        Lorem ipsum dolor sit amet,<br>
        Sultan Bathery, Kerala <br> 673592
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-col">
      <h3>Diocesan Links</h3>

      <ul class="footer-links">
        <li><a href="#">Kalpanas</a></li>
        <li><a href="#">Priest Directory</a></li>
        <li><a href="#">Parish Directory</a></li>
        <li><a href="#">Photo Gallery</a></li>
        <li><a href="#">Video Gallery</a></li>
        <li><a href="#">Upcoming Events</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
<div class="footer-contact">
  <h3>Contact Us</h3>

  <div class="contact-info">
    <p><i class="fas fa-phone-alt"></i> 968 545 3527</p>

    <p><i class="fas fa-envelope"></i> diocese@gmail.com</p>

    <p><i class="fas fa-map-marker-alt"></i> Sultan Bathery, Kerala</p>
    <div class="footer-social">
     
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
  </div>
</div>

      <!-- Social -->
      
    </div>

  </div>

  <!-- Bottom -->
  <div class="bottom-bar">
    <p>
      Privacy Policy|Terms of Use 
    </p>
  </div>

</footer>