{% load static %}
{% include 'header.html' %}


<!-- CURRENT PRIESTS -->
<section class="priest-section">
         <h2 class="section-title-priest">
            Priests Directory
         </h2>
            <div class="priest-dir-grid">
        {% for priest in priests %}
            <div class="priest-dir-card">
            <div class="priest-dir-img-box">
                {% if priest.image %}
                    <img src="{{ priest.image.url }}" 
                         alt="{{ priest.first_name }}">
                {% else %}
                    <img src="{% static 'images/member.jpg' %}" 
                         alt="Profile">
                {% endif %}
            </div>
            <div class="priest-dir-info-box">
                <h2 class="priest-dir-name">
                    Rev. {{ priest.first_name }} {{ priest.last_name }}
                </h2>
                <p class="priest-dir-role">
                    <i class="fas fa-cross"></i>
                    {{ priest.get_position_display }}
                </p>
            <p class="priest-dir-text">
                <i class="fas fa-church church-icon"></i>
                <span>{{ priest.home_parish }}</span>
            </p>
            <p class="priest-dir-text">
                <i class="fas fa-location-dot location-icon"></i>
                <span>{{ priest.address }}</span>
            </p>

            <p class="priest-dir-text">
                <i class="fas fa-phone phone-icon"></i>
                <span>{{ priest.phone }}</span>
            </p>
            <a href="{% url 'priest_details' priest.slug %}"
                   class="priest-dir-profile-btn">PROFILE
            </a>
            </div>
        </div>
        {% empty %}
        <p>No current priests found.</p>
        {% endfor %}
    </div>
</section>





<!-- RETIRED PRIESTS -->
<section class="priest-section">
<h2 class="section-title-retired">
    Retired Priests
</h2>
<div class="priest-dir-grid">
{% for priest in retired_priests %}
<div class="priest-dir-card">
    <div class="priest-dir-img-box">
        {% if priest.image %}
            <img src="{{ priest.image.url }}"alt="{{ priest.first_name }}">
        {% else %}
            <img src="{% static 'images/member.jpg' %}"alt="Profile">
        {% endif %}
    </div>
    <div class="priest-dir-info-box">
        <h2 class="priest-dir-name">
            Rev. {{ priest.first_name }} {{ priest.last_name }}
        </h2>
        <p class="priest-dir-role">
            <i class="fas fa-cross"></i>
            {{ priest.get_position_display }}
        </p>
       <p class="priest-dir-text">
    <i class="fas fa-church church-icon"></i>
    {{ priest.home_parish }}
    </p>
        <p class="priest-dir-text">
            <i class="fas fa-location-dot location-icon"></i>
            {{ priest.address }}
        </p>
        <p class="priest-dir-text">
            <i class="fas fa-phone phone-icon"></i>
            {{ priest.phone }}
        </p>
        <a href="{% url 'priestretired_details' priest.slug %}"
           class="priest-dir-profile-btn">PROFILE</a>
</div>
</div>
{% empty %}
<p>No retired priests found.</p>
{% endfor %}
</div>
</section>


<!-- STUDENTS / SEMINARIANS -->
<section class="priest-section">
<h2 class="section-title-students">Deacons and Seminarians</h2>
<div class="priest-dir-grid">
{% for priest in students %}
<div class="priest-dir-card">
<div class="priest-dir-img-box">
{% if priest.image %}
<img src="{{ priest.image.url }}"alt="{{ priest.first_name }}">
{% else %}
<img src="{% static 'images/member2.jpg' %}"alt="Profile">
{% endif %}
</div>
<div class="priest-dir-info-box">
<h2 class="priest-dir-name">
Rev. {{ priest.first_name }} {{ priest.last_name }}
</h2>
<p class="priest-dir-role">
<i class="fas fa-cross"></i>
{{ priest.get_position_display }}
</p><p class="priest-dir-text">
    <i class="fas fa-church church-icon"></i>
    {{ priest.home_parish }}
</p>
<p class="priest-dir-text">
<i class="fas fa-location-dot location-icon"></i>
{{ priest.address }}
</p>
<p class="priest-dir-text">
<i class="fas fa-phone phone-icon"></i>
{{ priest.phone }}
</p>
<!-- <a href="{% url 'priest_details' priest.slug %}"
class="priest-dir-profile-btn">PROFILE</a> -->
</div>
</div>
{% empty %}
<p>No seminarians found.</p>
{% endfor %}
</div>
</section>
</div>
{% include 'footer.html' %}
<script>

const toggleBtn = document.getElementById('sidebarToggleBtn');

const sidebar = document.getElementById('sidebarPanel');

const overlay = document.getElementById('sidebarOverlay');



function openSidebar(){

    sidebar.classList.add('open');

    overlay.classList.add('active');

    toggleBtn.classList.add('active');

    document.body.style.overflow='hidden';

}



function closeSidebar(){

    sidebar.classList.remove('open');

    overlay.classList.remove('active');

    toggleBtn.classList.remove('active');

    document.body.style.overflow='';

}



toggleBtn.addEventListener('click',(e)=>{

e.stopPropagation();

if(sidebar.classList.contains('open')){

closeSidebar();

}

else{

openSidebar();

}

});



overlay.addEventListener('click',closeSidebar);



document.addEventListener('keydown',(e)=>{

if(e.key==="Escape" && sidebar.classList.contains('open')){

closeSidebar();

}

});


</script>





<script>


document.querySelectorAll(".menu-link").forEach(link=>{


link.addEventListener("click",function(){


const dropdown=this.parentElement;



document.querySelectorAll(".dropdown").forEach(item=>{


if(item!==dropdown){

item.classList.remove("active");

}


});



dropdown.classList.toggle("active");



});


});


</script>


</body>

</html>